:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --white1: hsl(0, 0%, 100%);
  --white2: hsl(0, 100%, 98%);
  --pale-pink: hsl(0, 80%, 86%);
  --pink: hsl(0, 74%, 74%);
}

body {
  font-family: "Josefin Sans";
  font-size: 16px;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10%;
  grid-template-areas: "info-header card-image" "info-main card-image";
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  min-height: 70vh;
  align-content: center;
  align-items: center;
  justify-content: start;
  justify-items: center;
  max-width: 1440px;
  min-width: 375px;
}

.main-title {
  font-size: 60px;
  letter-spacing: 0.18em;
  font-weight: 300;
  color: var(--Desaturated-Red);
  text-transform: uppercase;
  width: 12ch;
  line-height: 1;
  margin-bottom: 1.25rem;
  display: inline-block;
}

.title-bold {
  color: var(--Dark-Grayish-Red);
  font-weight: 400;
  text-transform: uppercase;
}

.main-pg {
  color: var(--Desaturated-Red);
  font-weight: 400;
  width: 45ch;
  line-height: 1.75;
  margin-bottom: 1.56rem;
}

.email-input {
  padding: 0px 25px 0px 25px;
  width: 444px;
  position: relative;
  border-radius: 28px;
  border: solid 1px var(--Desaturated-Red);
}

input:required:invalid {
  border: solid 1px var(--Soft-Red);
  outline: 0;
}

.submit {
  border-radius: 28px;
  width: 100px;
  max-width: 100px;
  padding: 14px 20px;
  background: linear-gradient(to left top, var(--pale-pink), var(--pink));
  border: none;
  position: relative;
  transform: translate(-100px, 0px);
}

.error {
  display: none;
  color: var(--Soft-Red);
  transform: translate(10px, 28px);
  padding: 0;
}
.card-image {
  grid-area: card-image;
  display: block;
}

.image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.image-mb {
  display: none;
}

form {
  display: flex;
  align-content: center;
}

.form-action {
  display: flex;
  width: 450px;
}

.button-arrow {
  text-align: center;
  display: inline-block;
}

.info-header {
  grid-area: info-header;
  padding-left: 5.37rem;
  margin-top: 2.13rem;
  justify-self: left;
}

.info-main {
  grid-area: info-main;
  padding-left: 5.37rem;
  margin-top: 2.18rem;
  justify-self: left;
}

.error-img {
  display: none;
}

.error-img-active {
  width: 100%;
  height: 100%;
  max-width: 17px;
  display: none;
  visibility: visible;
  position: relative;
  transform: translate(-61px, 16px);
}

@media only screen and (max-width: 1022px) {
  .card {
    grid-template-areas: "info-header" "card-image" "info-main";
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .card-header {
    display: block;
  }

  .image {
    display: none;
  }

  .image-mb {
    display: inline-block;
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 450px;
  }

  .info-header {
    padding: 0px 68px;
    align-self: start;
    padding: 0;
  }

  .main-title {
    text-align: center;
  }

  .main-pg {
    text-align: center;
  }

  .email-input {
    width: 310px;
  }

  .submit {
    width: 4rem;
    transform: translate(-64px, 0px);
  }

  .info-main {
    padding: 0;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
  }

  .error {
    align-self: center;
    padding: 0px 86px;
  }

  .error-img-active {
    transform: translate(-72px, 16px);
  }

  form {
    justify-content: center;
  }

  .email-input {
    width: 20rem;
  }
}

@media only screen and (max-width: 620px) {
  .main-pg {
    width: 36ch;
    align-self: center;
  }
}

@media only screen and (max-width: 460px) {
  .image-mb {
    width: 375px;
  }

  .main-title {
    font-size: 45px;
  }

  .email-input {
    width: 15rem;
  }

  .error {
    padding: 0;
  }
}
